div.body-home.default{
    background: black;
    color: white;
}

h1.default {
    padding: 10px 20px;
    color: white;
}

p.default{
    font-size: 8rem;
    font-weight: bold;
    color: white;
}

table.default {
    border: 1px solid white;
}

