<html>
  <div *ngIf="data; else loading">
    <p>{{ this.entity }}</p>
    <p>{{ this.data.url }}</p>
    <h1 [ngClass]="this.entity">Hola Welcome to Funeral</h1>
    <table [ngClass]="this.entity">
      <th>Big FLask is Dead</th>
      <tbody>
        <tr>
          Big Flask
        </tr>
        <tr>
          Dead
        </tr>
        <tr>
          he
        </tr>
      </tbody>
    </table>
      <button (click)="toggleStyle()">Swap</button>
  </div>
</html>

<ng-template #loading>
  <p>...Loading</p>
</ng-template>
